---
layout: default
---
<script type="application/ld+json">
  {"@context":"https://schema.org/","@type":"Product","name":"{{ page.title }}","image":["https://cualuoidanang.com{{ page.image }}"],"description":"{{ page.excerpt | strip_html }}","sku":"{{ page.sku }}","mpn":"{{ page.sku }}","brand":{"@type":"Thing","name":"Sinh Tài"},"review":{"@type":"Review","reviewRating":{"@type":"Rating","ratingValue":"5","bestRating":"5"},"author":{"@type":"Person","name":"A.Thành"}},"aggregateRating":{"@type":"AggregateRating","ratingValue":"5.0","reviewCount":"89"},"offers":{"@type":"Offer","url":"https://cualuoidanang.com/{{ page.url }}","priceCurrency":"VND","price":"{{ page.price }}","priceValidUntil":"2020-11-25","itemCondition":"https://schema.org/UsedCondition","availability":"https://schema.org/InStock","seller":{"@type":"Organization","name":"{{ site.name }}"}}}
</script>

<section id="blog-details">
  <div class="container">
      <div class="row">
          <div class="col-md-9 col-sm-7">
              <div class="row">
                   <div class="col-md-12 col-sm-12">
                      <div class="single-blog blog-details">
                          <div class="post-thumb">
                              <img src="{{ page.image }}" class="img-responsive" alt="{{ page.title }}">
                              <div class="post-overlay">
                                  <span class="uppercase"><a href="#">{{ page.date | date: "%e <br><small>T%l</small>" }}</a></span>
                              </div>
                          </div>
                          <div class="post-content overflow">
                              <h2 class="post-title bold">{{ page.title }}</h2>
                              <h3 class="post-author"><a href="#">{{ page.priceText }}</a></h3>
                              {{ content }}
                              <div class="post-bottom overflow">
                                  <ul class="nav navbar-nav post-nav">
                                      {% for category in page.categories %}
                                      <li><a href="#"><i class="fa fa-tag"></i>{{ category }}</a></li>
                                      {% endfor %}
                                      <li><a href="#"><i class="fa fa-heart"></i><span id="ordertimes">1230</span> lần đặt hàng</a></li>
                                  </ul>
                              </div>                             
                              {% include disqus.html %}               
                          
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% include sidebar.html %}   
      </div>
  </div>
</section>
<!--/#blog-->

